.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50rem;
  background-color: rgba(10, 231, 43, 0.644);
}

h1 {
  font-size: 5rem;
  color: rgb(8, 188, 62);
}
h2 {
  text-align: center;
}

.divButton {
  padding-top: 5rem;
}

button {
  height: 2rem;
  width: 7rem;
  border-radius: 10%;
  font-size: 1.2rem;
}

button:hover {
  background-color: rgb(41, 70, 131);
}
